In [1]:
import psycopg2
import pandas.io.sql as psql
import pandas as pd
from queries.queryLine_win import query

#Connect to Database
conn = psycopg2.connect(dbname='d4glguq0as3fe6', user='ucjrvhda1pfbv1', password='pa045091d3e285537e8a31eb863c11df1dfa42659a9a447ce231b18f0070892a1', host='ec2-34-195-123-119.compute-1.amazonaws.com', port='5432', sslmode='require')
cur = conn.cursor()
print('Connection Established')

#Begin Query's
print('working on 7' )
df07 = psql.read_sql(query, conn, params={'range': '7'})
df07['period'] = '7'

print('working on 30' )
df30 = psql.read_sql(query, conn, params={'range': '30'})
df30['period'] = '30'

Connection Established
working on 7
working on 30

In [2]:
df30

Empty DataFrame
Columns: [name, number, set_name, market, date, sub_type, product_id, low, mid, high, tcg_product_id, updated_at, difference, first_date, last_date, first_price, last_price, p_change, period]
Index: []

In [3]:
df07

Empty DataFrame
Columns: [name, number, set_name, market, date, sub_type, product_id, low, mid, high, tcg_product_id, updated_at, difference, first_date, last_date, first_price, last_price, p_change, period]
Index: []